<div *ngIf="fooditem as fi">
  <mat-card>

    <div *ngIf="fi.images as images">
      <img mat-card-image [src]="previewURL||images[0]">
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let img of fi.images">
          <img mat-card-image [src]="img" (click)="previewURL = img">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-title>Fooditem Details</mat-card-title>

    <div fxLayout="row wrap">
      <h3 fxFlex="0 1 50" [style.color]="fi.isNonVeg? 'red':'green'">{{fi.title}}</h3>
      <span class="spacer"></span>
      <h3>
        <mat-icon>attach_money</mat-icon>
      </h3>
      <h3>{{fi.price}}</h3>
      
    </div>

    <mat-card-content>
      <h3>[{{fi.category}}] . [{{fi.cuisine}}]</h3>
    </mat-card-content>

    <div fxLayout="row wrap">
      <h3><mat-icon>room_service</mat-icon></h3>
      <h3>{{fi.serving}} persons</h3>

      <span class="spacer"></span>
      <h3>
        <mat-icon>schedule</mat-icon>
      </h3>
      <h3> 40 mins </h3>
      

      <span class="spacer"></span>

      <h3><mat-icon>place</mat-icon></h3>
      <h3>1.0 km</h3>
    </div>

    <div>
      <h3>Payment and delivery options</h3>
      <mat-selection-list [disabled]="true">
        <mat-list-option [selected]="fi.paymentOptions.cashOnDelivery">
          Cash of delivery
        </mat-list-option>
        <mat-list-option [selected]="fi.paymentOptions.onlinePayment">
          Pay online
        </mat-list-option>
        <mat-list-option [selected]="fi.deliveryOptions.takeAway">
          Take away
        </mat-list-option>
        <mat-list-option [selected]="fi.deliveryOptions.homeDelivery">
          Home delivery
        </mat-list-option>
        <mat-list-option [selected]="fi.deliveryOptions.dineIn">
          Dine in
        </mat-list-option>
      </mat-selection-list>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-title>My Address</mat-card-title>
    <mat-card-content>
      <form>
        <fieldset disabled="true">
          <br>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>My Address</mat-label>
            <input matInput type="text" value="#11-210">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Auto Address from Google Map</mat-label>
            <input matInput type="text" required [value]="fi.address">
          </mat-form-field>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- <div *ngIf="fi.coordinates" #mapElm style="height: 180px"></div> -->
  
</div>