<mat-horizontal-stepper 
  style="padding: 0px" 
  (selectionChange)=prepareDataFromStepper($event)>
  
  <mat-step>
    <app-image-upload #upload [productId]="fooditem.id"></app-image-upload>
  </mat-step>

  <mat-step>
    <app-product-form #form></app-product-form>
  </mat-step>

  <mat-step>
    <app-place-autocomplete #place *ngIf="autoComplete"></app-place-autocomplete>
  </mat-step>

  <mat-step>
    <mat-card>
      <mat-card-title>
        Preview your product and post!
      </mat-card-title>
    </mat-card>
  </mat-step>

</mat-horizontal-stepper>
