<!--  -->
<div>
  <mat-horizontal-stepper
    [linear]="true"
    style="padding: 0px"  
    #stepper>

    <mat-step [completed]="imageUploadDone">
      <app-image-upload 
      #upload 
      [fooditem]="newFooditem"
      (imageUploaded)="imageUploadCompleted($event)"></app-image-upload>
    </mat-step>

    <mat-step [completed]="productForm.get('form1').status == 'VALID'">
      <app-product-form1 [productForm]="productForm"></app-product-form1>
    </mat-step>

    <mat-step [completed]="productForm.get('form1').status == 'VALID'">
       <app-product-form2 [productForm]="productForm"></app-product-form2>
    </mat-step>

    <mat-step [completed]="productForm.get('addressForm').status == 'VALID'">
      <app-place-autocomplete 
        #autoComplete 
        [productForm]="productForm"
        [userGeoInfo]="currentAppUser.geoInfo">
      </app-place-autocomplete>
      <!-- <app-preview *ngIf="newFooditem.coordinates" [fooditem]="newFooditem"></app-preview> -->
    </mat-step>

  </mat-horizontal-stepper>

  <app-fab-action 
    [fabIcon]="stepper.selectedIndex == 3? 'done':'arrow_forward'" 
    (click)="stepper.selectedIndex == 3 ?createFooditem():stepper.next()">
  </app-fab-action>

</div>