<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="5px" *ngIf="fooditem$|async as fi">
  <app-list-card [fooditem]="fi"></app-list-card>

  <mat-card fxFlex="0 1 48" fxFlex.lg="0 1 32">
    <mat-card-header>
      <div mat-card-avatar [style.background-image]="'url('+ fi.images[0] +')'" [style.background-size]="'cover'"></div>
      <mat-card-title>Ambikesh</mat-card-title>
      <mat-card-subtitle>{{fi.address.address}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Hello food lover! Serving you authentic north indian food. Please check my other food posts as well.</mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <h3>Payment and delivery options</h3>
    <mat-selection-list>
      <mat-list-option selected>Cash of delivery!</mat-list-option>
      <mat-list-option disabled>Pay online!</mat-list-option>
      <mat-list-option selected>Take away</mat-list-option>
      <mat-list-option disabled>Home delivery</mat-list-option>
      <mat-list-option selected>Dine in</mat-list-option>
    </mat-selection-list>
  </mat-card>

  <mat-card>
  <h3>More from Ambikesh</h3>
  <app-list-card *ngFor="let fooditem of fooditems$|async" [fooditem]="fooditem"></app-list-card>
</mat-card>

</div>