

<mat-sidenav-container>
    
    <mat-sidenav #sidenav mode="over" fixedInViewport="true" style="width:300px">
        <mat-card  style="background-color: orange">
            <mat-card-title>Welcome Guest!</mat-card-title>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/sign-in" (click)="sidenav.close()">Login</button>
            </mat-card-actions>
        </mat-card>
        <mat-nav-list>
            <a 
                mat-list-item 
                *ngFor="let navItem of navList" 
                 [routerLink]="navItem.menuRoute" (click)="sidenav.close()">
                <mat-icon matListIcon>{{navItem.menuIcon}}</mat-icon>
                {{navItem.menuName}}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" style="margin-top: 60px">
        <app-toolbar style="position: fixed; top: 0; z-index: 1; width: 100%" [sidenavRef]=sidenav></app-toolbar>
        <!-- Router outlet content goes here -->
        <router-outlet style="margin-top: 5px"></router-outlet>

        <!-- Floating action fab button -->
        <app-fab-action style="position: fixed; bottom: 25px; right: 20px;"></app-fab-action>
    </mat-sidenav-content>

</mat-sidenav-container>

<app-footer-toolbar style="position: fixed; width: 100%; bottom: 0; z-index: 1"></app-footer-toolbar>
