<mat-card *ngIf="fooditem as fi" style="max-width:380px; padding-bottom: 0">

    <div *ngIf="fi.images as images" >
            <img mat-card-image [src]="images[0]||previewURL" style="height: 180px">

            <mat-grid-list *ngIf="isDetailCard" cols="4">
                <mat-grid-tile *ngFor="let img of fi.images">
                    <img mat-card-image [src]="img" (click)="previewURL = img">
                </mat-grid-tile>
            </mat-grid-list>
    </div>

    <div fxLayout="row wrap">
        <h3 fxFlex="0 1 50" [style.color]="fi.isNonVeg? 'red':'green'">{{fi.title}}</h3>
        <span class="spacer"></span>

        <!-- <h3>
            <mat-icon>attach_money</mat-icon>
        </h3> -->
        <h3>SGD {{fi.price}}</h3>
        
    </div>

    <mat-card-content>
        <h3>[{{fi.category}}] . [{{fi.cuisine}}]</h3>
        <h3>Pre Order: [ Fri/ Sat/ Sun ]</h3>
        <!-- <h3>Available now</h3> -->

    </mat-card-content>

    <div fxLayout="row wrap">
        <h3><mat-icon>room_service</mat-icon></h3>
        <h3>{{fi.serving}} persons</h3>

        <span class="spacer"></span>

        <h3>
            <mat-icon>schedule</mat-icon>
        </h3>
        <h3> 40 mins </h3>

        <span class="spacer"></span>

        <h3><mat-icon>place</mat-icon></h3>
        <h3>1.0 km</h3>
    </div>
    
</mat-card>