<mat-list>
  <mat-list-item *ngFor="let item of cartItemsBySellerID$|async">

    <mat-icon mat-list-icon color="accent" (click)="removeItem(item.id)">cancel</mat-icon>

    <!-- <img matListAvatar [src]="item.url" alt="..."> -->

    <h4 mat-line>{{item.title}}</h4>
    <p mat-line> SGD {{item.price}} </p>
    <p mat-line>Total: SGD {{item.price * item.quantity}}</p>

    <button mat-icon-button (click)="decrementItemCount(item)">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{item.quantity}}</span>
    <button mat-icon-button (click)="icrementItemCount(item)">
      <mat-icon>add</mat-icon>
    </button>

  </mat-list-item>
</mat-list>