<div fxLayout="column" fxLayout.xs="column" *ngIf="cartItems$|async as cartItems; else emptyCart">

  <mat-card>
    <h3>Seller-1</h3>
    

<mat-list>
  <mat-list-item *ngFor="let item of cartItems">
    <mat-icon mat-list-icon color="primary">room_service</mat-icon>
    <!-- <img matListAvatar [src]="item.url" alt="..."> -->
    <h4 mat-line>{{item.title}}</h4>
    <p mat-line> SGD {{item.price}} </p>
    <button mat-icon-button (click)="icrementItemCount(item.id)">
      <mat-icon>remove</mat-icon>
    </button>
    [1]
    <button mat-icon-button (click)="decrementItemCount(item.id)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="removeItem(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<mat-card-actions align="right">
  <mat-icon color="accent">chat_bubble_outline</mat-icon>
</mat-card-actions>

  </mat-card>

  <mat-divider></mat-divider>

  <mat-card>
    <h3>Seller-2</h3>
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems">
        <mat-icon mat-list-icon color="primary">room_service</mat-icon>
        <!-- <img matListAvatar [src]="item.url" alt="..."> -->
        <h4 mat-line>{{item.title}}</h4>
        <p mat-line> SGD {{item.price}} </p>
        <button mat-icon-button (click)="icrementItemCount(item.id)">
          <mat-icon>remove</mat-icon>
        </button>
        [1]
        <button mat-icon-button (click)="decrementItemCount(item.id)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="removeItemCount(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-card-actions align="right">
      <mat-icon color="accent">chat_bubble_outline</mat-icon>
    </mat-card-actions>
  </mat-card>


  <ng-template #emptyCart>
    <mat-card>
      <mat-card-title> Your Cart is empty. Go Shopping :)</mat-card-title>
    </mat-card>
  </ng-template>

</div>