<div><button mat-raised-button aria-label="New Room" (click)="createNewChatRoom($event)">LiveChat
    </button>
</div>



<div id="inner" class="inner" fxFlex>
  <div class="content">
    <div class="message-wrapper" class="container" *ngFor="let msg of chatMessage">
      <div class="text-wrapper animated fadeIn">{{msg.message}}</div>
      <!-- <span class="time-right">{{(msg.createdAt)|date:'shorttime'}}</span> -->
    </div>
  </div>
</div>


<div class="bottom" id="bottom" *ngIf="true" fxLayout="row" fxLayoutAlign="start center">
  <textarea class="input" id="message-text-input" fxFlex title="New message text" [(ngModel)]="inputMessageText" (keydown.enter)="sendRoomMessage($event)">
      </textarea>

  <button mat-icon-button class="send" [disabled]="!value" (click)="sendRoomMessage($event)">
      <mat-icon>send</mat-icon>
    </button>
</div>